@use '../../styles/partials/font' as *;
@use '../../styles/partials/mixin' as *;
@use '../../styles/partials/variables' as *;

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.5rem 5rem;
    background-image: linear-gradient(to bottom right,#03A3E1, #9EB42C);
    &__text {
        color: white;
        font-family: "AvenirNext LT Pro Bold";
        padding: 0 0 1rem 0;
    }
    &__mail {
        padding: 0;
        &:hover {
            transform: scale(1.25,1.25);
            transition: 200ms;
        }
    }
    &__mail-link {
        color: white;
        font-family: "AvenirNext LT Pro Bold";
    }
}